@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    font-family: 'Big Shoulders Display' , 'Lexend Deca', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    color: hsl(0, 0%, 95%);
}

.container{
    max-width: 1000px;
    margin: 2rem;
}

.card{
    display: flex;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 45px;
}

.sedan button{
    color: hsl(31, 77%, 52%);
}

.SUVs{
    background-color: hsl(184, 100%, 22%);
    padding: 45px;
}

.SUVs button{
    color: hsl(184, 100%, 22%);
}

.Luxary{
    background-color: hsl(179, 100%, 13%);
    padding: 45px;
}

.Luxary button{
    color: hsl(179, 100%, 13%);
}

h2{
    font-size: 50px;
}

p{
    font-family:  'Lexend Deca', sans-serif;
   letter-spacing: 1px;
}

button{
    margin-top: 80px;
    align-items: center;
    width: 68%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
}

button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

@media (max-width: 425px) {
    .container{
        min-width: 80%;
    }

    .card{
        display: flex;
        flex-direction: column;
    }

    button{
       margin-top: 10px;
    }

    h2, img, p{
        margin: 15px;
    }
}